<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar class="headerMenu">Menu</mat-toolbar>
    <mat-nav-list>
      <div class="userInfo">
        {{currentUser.name}}
      </div>
      <a mat-list-item routerLink="/private/dashboard">Link 1</a>
      <a mat-list-item routerLink="/private/dashboard">Link 2</a>
      <a mat-list-item (click)="logout()">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenavContent">
    <mat-toolbar class="toolBar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <img [src]="settings.IMG.LOGO" class="logo">
    </mat-toolbar>
    
    <!-- Add Content Here -->
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
